{% extends "base.html" %}
{% block content %}
<div class="form-container">
<h2>Login</h2>
<form method="POST">
  <label>Username</label><br>
  <input type="text" name="username" required><br><br>
  <label>Password</label><br>
  <input type="password" name="password" required><br><br>
  <button class="button" type="submit">Login</button>
</form>
<a href="{{ url_for('register')}}">Create an account</a><br>
    <a href="{{ url_for('forgot_password')}}">Forgot password?</a>
    </div>
{% endblock %}
